<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">

    <title>Gaurav Seta</title>
	<link href="styles/work-page.css" rel="stylesheet">
	<style>
		
	</style>
    <script src="../node_modules/angular/angular.min.js"></script>
    <script src="../node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>
    
    <script src="../js/workscreen/app.js"></script>
    <script src="../js/workscreen/controllers/Tech1Controller.js"></script>
    <script src="../js/workscreen/controllers/Tech2Controller.js"></script>
    <script src="../js/workscreen/controllers/Tech3Controller.js"></script>
    <script src="../js/workscreen/controllers/Tech4Controller.js"></script>
    
  </head>
  	<body ng-app="mainApp" ng-controller="MainController">

	<div class="profile-container">
		<div class="left-section">
			<div class="image-container">
				<img class="profile-image" src="../images/gaurav.jpg"></img>
			</div>
			<div class="profile-box">
				<h1>GAURAV</h1><h1>SETA</h1>
			</div>
			<div class="horizontal-divider"></div>
			<div class="developer-title"><h3>Full Stack</h3><h3>Developer</h3>
			</div>
			<div class="project-list">
				<div ng-class="{'container':true,'tech1-left-border':true,'tech1-background':selectedTech=='tech1'}" ng-click="goTo('tech1')">
				 	<div class="image">Node Projects</div>
	  					<div class="overlay tech1-background">
	    					<div class="text">Node Projects</div>
	  				</div>
				 </div>
				<div ng-class="{'container':true,'tech2-left-border':true,'tech2-background':selectedTech=='tech2'}" ng-click="goTo('tech2')">
				 	<div class="image">MongoDB Projects</div>
	  					<div class="overlay tech2-background">
	    					<div class="text">MongoDB Projects</div>
	  				</div>
				 </div>
				<div ng-class="{'container':true,'tech3-left-border':true,'tech3-background':selectedTech=='tech3'}" ng-click="goTo('tech3')">
				 	<div class="image">D3 Projects</div>
	  					<div class="overlay tech3-background">
	    					<div class="text">D3 Projects</div>
	  				</div>
				 </div>
				<div ng-class="{'container':true,'tech4-left-border':true,'tech4-background':selectedTech=='tech4'}" ng-click="goTo('tech4')">
				 	<div class="image">Animations Projects</div>
	  					<div class="overlay tech4-background">
	    					<div class="text">Animations Projects</div>
	  				</div>
				 </div>
			</div>
		</div>
		<div class="right-section">
			<div ui-view style="flex:1;display:flex;flex-direction:column"></div>
			
			
		</div>
		
	</div>

  	</body>
</html>
