	* {
		box-sizing:border-box;
	}
		
	html,body {
		height:100%;
		margin:0;
		padding:0;
		background-color:#EBF0F1;
	}
	
	.profile-container {
		display: flex;
    		flex-direction: row;
    		flex-wrap: wrap;
    		height: 100%;
    		justify-content: center;
    		/* margin: 0px 48px; */
    		/* text-align: center; */
    		padding: 0px 48px;
		align-content: flex-start;
		overflow-y: auto;
    		overflow-x: auto;
	}

	.left-section {
		flex-basis: 100%;
    		max-width: 250px;
	}
	
	.right-section {
		padding:0px 0px 0px 0px;
		display:flex;
		flex-direction:column;
		flex-basis:100%;
		overflow-x: auto;
		overflow-y:auto;
	}

	.social-link-container {
		margin-bottom: 25px;
	}
	
	.opaque-divider {
		background-color:#00C9A1;
		padding:3px 0px;
		    flex-basis: 100%;
	}
	
	.social-link-body {
		display:flex;
		flex-direction:row;
		justify-content:center;
		flex-wrap:wrap;
		padding:14px 17px;
		border-radius:0px 0px 8px 8px;
		background-color:#00A888;
	}
	.social-link-item {
		width: 45px;
    height: 45px;
    margin: 12px;
    border-radius: 50%;
	}

	.image-container {
		text-align: center;
	}
	
	.name-container {
		line-height: 0.5em;
    		text-align: center;
		color:#35495F;
		font-family: sans-serif;
		font-size: 18px;
	}
	
	
	.profile-image {
		border:4px solid #BBC2C6;
		border-radius:50%;
		width:90%;
		height:90%;
	}
	.horizontal-divider {
		height:2px;
		background-color:#00C096;
		width:40%;
		margin-right:auto;
		margin-left:auto;
	}

	.developer-title {
		color:#728384;
		text-align:center;
		line-height:0.1em;
	}

	.opaque-divider-right {
		background-color:#00A888;
		    height: 5px;
	}

	.menu-bar {
		background-color:transparent;
		display:flex;
		flex-direction:row;
		flex-wrap:wrap;
		padding:20px 5px;
		text-align: center;
		
	}

	.menu-item {
		margin-right:20px;	
	}

	.menu-bar a {
		text-decoration:none;
		color:#34485E;
		flex-basis: 100%;
		white-space:nowrap;
	}

	.profile-content {
		background-color:white;
		display:flex;
		flex-direction:column;
		align-items:stretch;
		font-family: sans-serif;
		padding:10px;
		/*flex-basis:100%;*/
		overflow-x: auto;
		flex:1;
	}

	.text-profile {
		align-self:flex-end;
		margin-right:20px;
		color:#34485E;
		font-size: 11px;
	}

	.text-item-container {
		border:2px solid #EBF0F1;
		margin-top:20px;
		padding:10px;
		box-shadow:0px 0px 1px 1px gray;
		color:#35495F;
		overflow-wrap: break-word;
	}

	.text-item-container .title {
		    font-size: 31px;
	}

	.text-item-container .subtitle {
	             margin-top: 6px;
	}

	.text-item-container .divider {
		padding:1px 0px;
		background-color:#EBF0F1;
		width:10%;
		margin-top:3px;
	}
	
	.personal-info-list {
		display:flex;
		flex-direction:row;
		justify-content:flex-start;
		align-content:flex-start;
		align-items:flex-start;
		margin-top:6px;
		flex-wrap: wrap;
		overflow-x: auto;
	}
	.personal-info-tags {
		display:inline-flex;
		margin-top:5px;
		flex-direction:row;
		flex-wrap:nowrap;
		font-size:12px;
		margin-right:8px;
	}

	.personal-info-tags .key {
		padding:7px;
		background-color:#42DCC2;
		color:white;
		border-top-left-radius:6px;
		border-bottom-left-radius:6px;
	}
	.personal-info-tags .value {
		padding:7px;
		background-color:#F2F5F6;
		color:#35495F;
		border-top-right-radius:6px;
		border-bottom-right-radius:6px;
	}
	
	.here-text {
		text-decoration:underline;
		font-weight:bold;
		cursor:pointer
	}

	.fa {
		  padding: 10px;
		  font-size: 26px;
		  width: 45px;
		  height:45px;
		  margin:12px;
		  box-sizing:border-box;
		  text-align: center;
		  text-decoration: none;
		  
		  border-radius: 50%;
	}

	.fa-linkedin {
		  background: rgb(235,240,241);
    		  color: rgb(0,168,136);
	}


	@media only screen and (min-width:620px){
		.left-section {
			flex-basis:30%;
		}
		
		.right-section {
			flex:1 0px;
			margin-left: 5px;
		}
		.menu-bar a {
			flex-basis: 0%;
		}
	}
	
